<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287401073940-nugm0usli84dblg41csb3n542n0ctgon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287401073940-nugm0usli84dblg41csb3n542n0ctgon</string>
	<key>API_KEY</key>
	<string>AIzaSyCwwVj2IHxEcvYxYZcsWjc8FYyR8-sWbDw</string>
	<key>GCM_SENDER_ID</key>
	<string>287401073940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EarthSaver-mobile</string>
	<key>PROJECT_ID</key>
	<string>earthsaver-6318e</string>
	<key>STORAGE_BUCKET</key>
	<string>earthsaver-6318e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287401073940:ios:07ee15a365ba5c62653601</string>
</dict>
</plist>